<p>
  Dear <%= @creditholder.first_name %>,
</p>
<p>
Your credit for <%= number_to_currency(@credit.amount) %> has just been processed and is available for use at your convenience.
</p>
<p> 
Thanks,
</p>
<p>
Omega Books Used Department
</p>