// Place all the styles related to the Credits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#checkout-panel {
	max-width: 500px;
	margin-top: 50px;
	margin-left: auto ;
	margin-right: auto ;
}
#new-credit-panel {
	max-width: 500px;
	margin-top: 50px;
	margin-left: auto ;
	margin-right: auto ;
}